# Ignore compiled Python files
*.pyc

# Ignore virtual environment folder
myenv/

# Ignore other common files and folders
__pycache__/
.env
.DS_Store
.vscode/
.idea/
node_modules/

src/analyzer/__pycache__/data_analyzer.cpython-38.pyc
src/api/__pycache__/api_server.cpython-38.pyc
src/api/__pycache__/routes.cpython-38.pyc
src/collector/__pycache__/data_collector.cpython-38.pyc
src/recorder/__pycache__/data_recorder.cpython-38.pyc
tests/__pycache__/test_api_server.cpython-38.pyc
tests/__pycache__/test_rabbitmq.cpython-38.pyc
*.pyc
